@using System.Globalization
@inject IWebHostEnvironment HostEnv

<div class="pi-container">
    <a href="#" class="pi-symbol"
       title="Developer info"
       @onclick="ToggleDetails"
       @onclick:preventDefault="true"><span class="pi-glyph">π</span></a>

    <span class="pi-details @( _showDetails ? "show" : string.Empty )">
        <div class="pi-heading">
            <span class="pi-icon">👨‍🔬</span>
            Developer info
        </div>
        <strong>Environment:</strong> @HostEnv.EnvironmentName<br />
        <strong>Built at:</strong> @ThisAssembly.GitCommitDate.ToLocalTime().ToString(_culture)<br />
        <strong>Commit:</strong> <a href="@CommitUrl">@ThisAssembly.GitCommitId[..6]</a>
        <span class="text-muted">(@ThisAssembly.GitBranch)</span><br />
        <strong>Message:</strong> @ThisAssembly.GitCommitMessage<br />
        <strong>Authored:</strong> @ThisAssembly.GitCommitAuthorDate.ToLocalTime().ToString(_culture)
    </span>
</div>

@code {
    bool _showDetails;
    readonly CultureInfo _culture = new("en-US");

    string CommitUrl => string.IsNullOrWhiteSpace(ThisAssembly.GitCommitUrl)
        ? string.Empty
        : ThisAssembly.GitCommitUrl;

    void ToggleDetails() => _showDetails = !_showDetails;
}
